.elementor-kit-5 {
  --e-global-color-primary: #ffffff;
  --e-global-color-secondary: #243ffa;
  --e-global-color-text: #d4dffb;
  --e-global-color-accent: #d4dffb;
  --e-global-color-f7103ac: #243ffa;
  --e-global-color-67db852: #0f2349;
  --e-global-color-76e3652: #f6f9ff;
  --e-global-color-3f42870: #0e2146;
  --e-global-color-489a743: #0d1f3f;
  --e-global-color-f262893: #438f5800;
  --e-global-color-6bcd060: #203be1;
  --e-global-color-cac7061: #757887;
  --e-global-color-b25b208: #243bc1;
  --e-global-color-ddd2d3b: #243ffabd;
  --e-global-color-4994969: #a2b1cc;
  --e-global-typography-primary-font-family: 'Roboto';
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-primary-text-decoration: none;
  --e-global-typography-primary-line-height: 1.1em;
  --e-global-typography-secondary-font-family: 'Roboto';
  --e-global-typography-secondary-font-size: 16px;
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-secondary-text-decoration: none;
  --e-global-typography-text-font-family: 'Roboto';
  --e-global-typography-text-font-size: 20px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-text-decoration: none;
  --e-global-typography-accent-font-family: 'Roboto';
  --e-global-typography-accent-font-size: 20px;
  --e-global-typography-accent-font-weight: 600;
  --e-global-typography-accent-text-decoration: none;
  --e-global-typography-e2e9960-font-family: 'Roboto';
  --e-global-typography-e2e9960-font-size: 80px;
  --e-global-typography-e2e9960-font-weight: 700;
  --e-global-typography-e2e9960-text-decoration: none;
  --e-global-typography-e2e9960-line-height: 1em;
  --e-global-typography-69c617f-font-family: 'Roboto';
  --e-global-typography-69c617f-font-size: 52px;
  --e-global-typography-69c617f-font-weight: 600;
  --e-global-typography-69c617f-text-decoration: none;
  --e-global-typography-69c617f-line-height: 1.1em;
  --e-global-typography-8c29d40-font-family: 'Roboto';
  --e-global-typography-8c29d40-font-size: 44px;
  --e-global-typography-8c29d40-font-weight: 500;
  --e-global-typography-8c29d40-text-decoration: none;
  --e-global-typography-8c29d40-line-height: 1.1em;
  --e-global-typography-ea0a2c1-font-family: 'Roboto';
  --e-global-typography-ea0a2c1-font-size: 28px;
  --e-global-typography-ea0a2c1-font-weight: 600;
  --e-global-typography-ea0a2c1-text-decoration: none;
  --e-global-typography-ea0a2c1-line-height: 1.1em;
  --e-global-typography-cf768d5-font-family: 'Roboto';
  --e-global-typography-cf768d5-font-size: 22px;
  --e-global-typography-cf768d5-font-weight: 600;
  --e-global-typography-cf768d5-text-decoration: none;
  --e-global-typography-cf768d5-line-height: 1.1em;
  --e-global-typography-a485490-font-family: 'Roboto';
  --e-global-typography-a485490-font-size: 24px;
  --e-global-typography-a485490-font-weight: 500;
  --e-global-typography-a485490-text-decoration: none;
  --e-global-typography-5d66b6f-font-family: 'Roboto';
  --e-global-typography-5d66b6f-font-size: 16px;
  --e-global-typography-5d66b6f-font-weight: 300;
  --e-global-typography-5d66b6f-text-decoration: none;
  --e-global-typography-4fa178d-font-family: 'Roboto';
  --e-global-typography-4fa178d-font-size: 14px;
  --e-global-typography-4fa178d-font-weight: 400;
  --e-global-typography-4fa178d-text-decoration: none;
  --e-global-typography-a29d797-font-family: 'Roboto';
  --e-global-typography-a29d797-font-size: 18px;
  --e-global-typography-a29d797-font-weight: 600;
  --e-global-typography-a29d797-text-decoration: none;
  --e-global-typography-b014958-font-family: 'Roboto';
  --e-global-typography-b014958-font-size: 16px;
  --e-global-typography-b014958-font-weight: 600;
  --e-global-typography-b014958-text-decoration: none;
  --e-global-typography-b8b9579-font-family: 'Roboto';
  --e-global-typography-b8b9579-font-size: 22px;
  --e-global-typography-b8b9579-font-weight: 700;
  --e-global-typography-b8b9579-text-decoration: none;
  --e-global-typography-b8b9579-line-height: 1.1px;
  --e-global-typography-5a5217e-font-family: 'Roboto';
  --e-global-typography-5a5217e-font-size: 60px;
  --e-global-typography-5a5217e-font-weight: 700;
  --e-global-typography-5a5217e-text-decoration: none;
  --e-global-typography-9eb1b55-font-family: 'Roboto';
  --e-global-typography-9eb1b55-font-size: 14px;
  --e-global-typography-9eb1b55-font-weight: 500;
  --e-global-typography-9eb1b55-text-decoration: none;
  --e-global-typography-7a0ee4d-font-family: 'Roboto';
  --e-global-typography-7a0ee4d-font-size: 18px;
  --e-global-typography-7a0ee4d-font-weight: 400;
  --e-global-typography-7a0ee4d-text-decoration: none;
  --e-global-typography-763c4eb-font-family: 'Roboto';
  --e-global-typography-763c4eb-font-size: 20px;
  --e-global-typography-763c4eb-font-weight: 500;
  --e-global-typography-763c4eb-text-decoration: none;
  --e-global-typography-763c4eb-line-height: 1.1em;
}
.elementor-kit-5 h1 {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-e2e9960-font-family), Sans-serif;
  font-size: var(--e-global-typography-e2e9960-font-size);
  font-weight: var(--e-global-typography-e2e9960-font-weight);
  text-decoration: var(--e-global-typography-e2e9960-text-decoration);
  line-height: var(--e-global-typography-e2e9960-line-height);
  letter-spacing: var(--e-global-typography-e2e9960-letter-spacing);
  word-spacing: var(--e-global-typography-e2e9960-word-spacing);
}
.elementor-kit-5 h2 {
  color: var(--e-global-color-67db852);
  font-family: var(--e-global-typography-69c617f-font-family), Sans-serif;
  font-size: var(--e-global-typography-69c617f-font-size);
  font-weight: var(--e-global-typography-69c617f-font-weight);
  text-decoration: var(--e-global-typography-69c617f-text-decoration);
  line-height: var(--e-global-typography-69c617f-line-height);
  letter-spacing: var(--e-global-typography-69c617f-letter-spacing);
  word-spacing: var(--e-global-typography-69c617f-word-spacing);
}
.elementor-kit-5 h3 {
  color: var(--e-global-color-67db852);
  font-family: var(--e-global-typography-8c29d40-font-family), Sans-serif;
  font-size: var(--e-global-typography-8c29d40-font-size);
  font-weight: var(--e-global-typography-8c29d40-font-weight);
  text-decoration: var(--e-global-typography-8c29d40-text-decoration);
  line-height: var(--e-global-typography-8c29d40-line-height);
  letter-spacing: var(--e-global-typography-8c29d40-letter-spacing);
  word-spacing: var(--e-global-typography-8c29d40-word-spacing);
}
.elementor-kit-5 h4 {
  color: var(--e-global-color-67db852);
  font-family: var(--e-global-typography-ea0a2c1-font-family), Sans-serif;
  font-size: var(--e-global-typography-ea0a2c1-font-size);
  font-weight: var(--e-global-typography-ea0a2c1-font-weight);
  text-decoration: var(--e-global-typography-ea0a2c1-text-decoration);
  line-height: var(--e-global-typography-ea0a2c1-line-height);
  letter-spacing: var(--e-global-typography-ea0a2c1-letter-spacing);
  word-spacing: var(--e-global-typography-ea0a2c1-word-spacing);
}
.elementor-kit-5 h5 {
  color: var(--e-global-color-67db852);
  font-family: var(--e-global-typography-cf768d5-font-family), Sans-serif;
  font-size: var(--e-global-typography-cf768d5-font-size);
  font-weight: var(--e-global-typography-cf768d5-font-weight);
  text-decoration: var(--e-global-typography-cf768d5-text-decoration);
  line-height: var(--e-global-typography-cf768d5-line-height);
  letter-spacing: var(--e-global-typography-cf768d5-letter-spacing);
  word-spacing: var(--e-global-typography-cf768d5-word-spacing);
}
.elementor-kit-5 h6 {
  color: var(--e-global-color-67db852);
  font-family: var(--e-global-typography-a485490-font-family), Sans-serif;
  font-size: var(--e-global-typography-a485490-font-size);
  font-weight: var(--e-global-typography-a485490-font-weight);
  text-decoration: var(--e-global-typography-a485490-text-decoration);
  line-height: var(--e-global-typography-a485490-line-height);
  letter-spacing: var(--e-global-typography-a485490-letter-spacing);
  word-spacing: var(--e-global-typography-a485490-word-spacing);
}
.elementor-kit-5 button,
.elementor-kit-5 input[type='button'],
.elementor-kit-5 input[type='submit'],
.elementor-kit-5 .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  text-decoration: var(--e-global-typography-accent-text-decoration);
  color: var(--e-global-color-accent);
}
.elementor-kit-5 button:hover,
.elementor-kit-5 button:focus,
.elementor-kit-5 input[type='button']:hover,
.elementor-kit-5 input[type='button']:focus,
.elementor-kit-5 input[type='submit']:hover,
.elementor-kit-5 input[type='submit']:focus,
.elementor-kit-5 .elementor-button:hover,
.elementor-kit-5 .elementor-button:focus {
  color: var(--e-global-color-67db852);
}
.elementor-section.elementor-section-boxed > .elementor-container {
  max-width: 1140px;
}
.e-con {
  --container-max-width: 1140px;
}
.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
}
 {
}
h1.entry-title {
  display: var(--page-title-display);
}
@media (max-width: 1366px) {
  .elementor-kit-5 {
    --e-global-typography-primary-line-height: 1.1em;
    --e-global-typography-secondary-font-size: 16px;
    --e-global-typography-text-font-size: 18px;
    --e-global-typography-accent-font-size: 20px;
    --e-global-typography-e2e9960-font-size: 60px;
    --e-global-typography-e2e9960-line-height: 1em;
    --e-global-typography-69c617f-font-size: 40px;
    --e-global-typography-69c617f-line-height: 1.1em;
    --e-global-typography-8c29d40-font-size: 32px;
    --e-global-typography-8c29d40-line-height: 1.1em;
    --e-global-typography-ea0a2c1-font-size: 26px;
    --e-global-typography-cf768d5-font-size: 18px;
    --e-global-typography-cf768d5-line-height: 1.1em;
    --e-global-typography-a485490-font-size: 22px;
    --e-global-typography-5d66b6f-font-size: 16px;
    --e-global-typography-4fa178d-font-size: 14px;
    --e-global-typography-a29d797-font-size: 16px;
    --e-global-typography-b014958-font-size: 16px;
    --e-global-typography-b8b9579-font-size: 16px;
    --e-global-typography-5a5217e-font-size: 40px;
    --e-global-typography-9eb1b55-font-size: 14px;
    --e-global-typography-7a0ee4d-font-size: 16px;
    --e-global-typography-763c4eb-font-size: 18px;
    --e-global-typography-763c4eb-line-height: 1.1em;
  }
  .elementor-kit-5 h1 {
    font-size: var(--e-global-typography-e2e9960-font-size);
    line-height: var(--e-global-typography-e2e9960-line-height);
    letter-spacing: var(--e-global-typography-e2e9960-letter-spacing);
    word-spacing: var(--e-global-typography-e2e9960-word-spacing);
  }
  .elementor-kit-5 h2 {
    font-size: var(--e-global-typography-69c617f-font-size);
    line-height: var(--e-global-typography-69c617f-line-height);
    letter-spacing: var(--e-global-typography-69c617f-letter-spacing);
    word-spacing: var(--e-global-typography-69c617f-word-spacing);
  }
  .elementor-kit-5 h3 {
    font-size: var(--e-global-typography-8c29d40-font-size);
    line-height: var(--e-global-typography-8c29d40-line-height);
    letter-spacing: var(--e-global-typography-8c29d40-letter-spacing);
    word-spacing: var(--e-global-typography-8c29d40-word-spacing);
  }
  .elementor-kit-5 h4 {
    font-size: var(--e-global-typography-ea0a2c1-font-size);
    line-height: var(--e-global-typography-ea0a2c1-line-height);
    letter-spacing: var(--e-global-typography-ea0a2c1-letter-spacing);
    word-spacing: var(--e-global-typography-ea0a2c1-word-spacing);
  }
  .elementor-kit-5 h5 {
    font-size: var(--e-global-typography-cf768d5-font-size);
    line-height: var(--e-global-typography-cf768d5-line-height);
    letter-spacing: var(--e-global-typography-cf768d5-letter-spacing);
    word-spacing: var(--e-global-typography-cf768d5-word-spacing);
  }
  .elementor-kit-5 h6 {
    font-size: var(--e-global-typography-a485490-font-size);
    line-height: var(--e-global-typography-a485490-line-height);
    letter-spacing: var(--e-global-typography-a485490-letter-spacing);
    word-spacing: var(--e-global-typography-a485490-word-spacing);
  }
  .elementor-kit-5 button,
  .elementor-kit-5 input[type='button'],
  .elementor-kit-5 input[type='submit'],
  .elementor-kit-5 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
}
@media (max-width: 1024px) {
  .elementor-kit-5 {
    --e-global-typography-primary-line-height: 1.1em;
    --e-global-typography-secondary-font-size: 16px;
    --e-global-typography-secondary-line-height: 1.5em;
    --e-global-typography-text-font-size: 14px;
    --e-global-typography-text-line-height: 1.5em;
    --e-global-typography-accent-font-size: 16px;
    --e-global-typography-e2e9960-font-size: 50px;
    --e-global-typography-e2e9960-line-height: 1em;
    --e-global-typography-69c617f-font-size: 32px;
    --e-global-typography-69c617f-line-height: 1.1em;
    --e-global-typography-8c29d40-font-size: 26px;
    --e-global-typography-8c29d40-line-height: 1.1em;
    --e-global-typography-ea0a2c1-font-size: 20px;
    --e-global-typography-ea0a2c1-line-height: 1.1em;
    --e-global-typography-cf768d5-font-size: 18px;
    --e-global-typography-cf768d5-line-height: 1.1em;
    --e-global-typography-a485490-font-size: 18px;
    --e-global-typography-a485490-line-height: 1.1em;
    --e-global-typography-5d66b6f-font-size: 14px;
    --e-global-typography-5d66b6f-line-height: 1.5em;
    --e-global-typography-4fa178d-font-size: 12px;
    --e-global-typography-4fa178d-line-height: 1.5em;
    --e-global-typography-a29d797-font-size: 14px;
    --e-global-typography-a29d797-line-height: 1.1em;
    --e-global-typography-b014958-font-size: 14px;
    --e-global-typography-b014958-line-height: 1.1em;
    --e-global-typography-b8b9579-font-size: 22px;
    --e-global-typography-b8b9579-line-height: 1.1em;
    --e-global-typography-5a5217e-font-size: 30px;
    --e-global-typography-5a5217e-line-height: 1.1em;
    --e-global-typography-9eb1b55-font-size: 14px;
    --e-global-typography-7a0ee4d-font-size: 16px;
    --e-global-typography-7a0ee4d-line-height: 1.5em;
    --e-global-typography-763c4eb-font-size: 16px;
    --e-global-typography-763c4eb-line-height: 1.1em;
  }
  .elementor-kit-5 h1 {
    font-size: var(--e-global-typography-e2e9960-font-size);
    line-height: var(--e-global-typography-e2e9960-line-height);
    letter-spacing: var(--e-global-typography-e2e9960-letter-spacing);
    word-spacing: var(--e-global-typography-e2e9960-word-spacing);
  }
  .elementor-kit-5 h2 {
    font-size: var(--e-global-typography-69c617f-font-size);
    line-height: var(--e-global-typography-69c617f-line-height);
    letter-spacing: var(--e-global-typography-69c617f-letter-spacing);
    word-spacing: var(--e-global-typography-69c617f-word-spacing);
  }
  .elementor-kit-5 h3 {
    font-size: var(--e-global-typography-8c29d40-font-size);
    line-height: var(--e-global-typography-8c29d40-line-height);
    letter-spacing: var(--e-global-typography-8c29d40-letter-spacing);
    word-spacing: var(--e-global-typography-8c29d40-word-spacing);
  }
  .elementor-kit-5 h4 {
    font-size: var(--e-global-typography-ea0a2c1-font-size);
    line-height: var(--e-global-typography-ea0a2c1-line-height);
    letter-spacing: var(--e-global-typography-ea0a2c1-letter-spacing);
    word-spacing: var(--e-global-typography-ea0a2c1-word-spacing);
  }
  .elementor-kit-5 h5 {
    font-size: var(--e-global-typography-cf768d5-font-size);
    line-height: var(--e-global-typography-cf768d5-line-height);
    letter-spacing: var(--e-global-typography-cf768d5-letter-spacing);
    word-spacing: var(--e-global-typography-cf768d5-word-spacing);
  }
  .elementor-kit-5 h6 {
    font-size: var(--e-global-typography-a485490-font-size);
    line-height: var(--e-global-typography-a485490-line-height);
    letter-spacing: var(--e-global-typography-a485490-letter-spacing);
    word-spacing: var(--e-global-typography-a485490-word-spacing);
  }
  .elementor-kit-5 button,
  .elementor-kit-5 input[type='button'],
  .elementor-kit-5 input[type='submit'],
  .elementor-kit-5 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1024px;
  }
  .e-con {
    --container-max-width: 1024px;
  }
}
@media (max-width: 767px) {
  .elementor-kit-5 {
    --e-global-typography-primary-line-height: 1.1em;
    --e-global-typography-secondary-font-size: 16px;
    --e-global-typography-secondary-line-height: 1.5em;
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-line-height: 1.5em;
    --e-global-typography-accent-font-size: 16px;
    --e-global-typography-e2e9960-font-size: 40px;
    --e-global-typography-e2e9960-line-height: 1em;
    --e-global-typography-69c617f-font-size: 30px;
    --e-global-typography-69c617f-line-height: 1.1em;
    --e-global-typography-8c29d40-font-size: 26px;
    --e-global-typography-8c29d40-line-height: 1.1em;
    --e-global-typography-ea0a2c1-font-size: 22px;
    --e-global-typography-ea0a2c1-line-height: 1.1em;
    --e-global-typography-cf768d5-font-size: 16px;
    --e-global-typography-cf768d5-line-height: 1.1em;
    --e-global-typography-a485490-font-size: 18px;
    --e-global-typography-a485490-line-height: 1.1em;
    --e-global-typography-5d66b6f-font-size: 14px;
    --e-global-typography-5d66b6f-line-height: 1.5em;
    --e-global-typography-4fa178d-font-size: 14px;
    --e-global-typography-4fa178d-line-height: 1.5em;
    --e-global-typography-a29d797-font-size: 18px;
    --e-global-typography-a29d797-line-height: 1.1em;
    --e-global-typography-b014958-font-size: 16px;
    --e-global-typography-b014958-line-height: 1.1em;
    --e-global-typography-b8b9579-font-size: 22px;
    --e-global-typography-b8b9579-line-height: 1.1em;
    --e-global-typography-5a5217e-font-size: 30px;
    --e-global-typography-5a5217e-line-height: 1.1em;
    --e-global-typography-9eb1b55-font-size: 14px;
    --e-global-typography-7a0ee4d-font-size: 16px;
    --e-global-typography-7a0ee4d-line-height: 1.5em;
    --e-global-typography-763c4eb-font-size: 16px;
    --e-global-typography-763c4eb-line-height: 1.1em;
  }
  .elementor-kit-5 h1 {
    font-size: var(--e-global-typography-e2e9960-font-size);
    line-height: var(--e-global-typography-e2e9960-line-height);
    letter-spacing: var(--e-global-typography-e2e9960-letter-spacing);
    word-spacing: var(--e-global-typography-e2e9960-word-spacing);
  }
  .elementor-kit-5 h2 {
    font-size: var(--e-global-typography-69c617f-font-size);
    line-height: var(--e-global-typography-69c617f-line-height);
    letter-spacing: var(--e-global-typography-69c617f-letter-spacing);
    word-spacing: var(--e-global-typography-69c617f-word-spacing);
  }
  .elementor-kit-5 h3 {
    font-size: var(--e-global-typography-8c29d40-font-size);
    line-height: var(--e-global-typography-8c29d40-line-height);
    letter-spacing: var(--e-global-typography-8c29d40-letter-spacing);
    word-spacing: var(--e-global-typography-8c29d40-word-spacing);
  }
  .elementor-kit-5 h4 {
    font-size: var(--e-global-typography-ea0a2c1-font-size);
    line-height: var(--e-global-typography-ea0a2c1-line-height);
    letter-spacing: var(--e-global-typography-ea0a2c1-letter-spacing);
    word-spacing: var(--e-global-typography-ea0a2c1-word-spacing);
  }
  .elementor-kit-5 h5 {
    font-size: var(--e-global-typography-cf768d5-font-size);
    line-height: var(--e-global-typography-cf768d5-line-height);
    letter-spacing: var(--e-global-typography-cf768d5-letter-spacing);
    word-spacing: var(--e-global-typography-cf768d5-word-spacing);
  }
  .elementor-kit-5 h6 {
    font-size: var(--e-global-typography-a485490-font-size);
    line-height: var(--e-global-typography-a485490-line-height);
    letter-spacing: var(--e-global-typography-a485490-letter-spacing);
    word-spacing: var(--e-global-typography-a485490-word-spacing);
  }
  .elementor-kit-5 button,
  .elementor-kit-5 input[type='button'],
  .elementor-kit-5 input[type='submit'],
  .elementor-kit-5 .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
  }
  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 767px;
  }
  .e-con {
    --container-max-width: 767px;
  }
}
